<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
		
	<aop:aspectj-autoproxy />	
		
	<beans:bean id="triangle" class="com.huseyinaydin.model.Triangle">
		<beans:property name="name" value="Triangle name" />
	</beans:bean>
	
	<beans:bean id="circle" class="com.huseyinaydin.model.Circle">
		
	</beans:bean>
	
	<beans:bean id="shapeService" class="com.huseyinaydin.services.ShapeService" autowire="byName" />
	
	<beans:bean id="loggingAspect" class="com.huseyinaydin.aspect.LoggingAspect" />
	
	<aop:config>
		<aop:aspect id="loggingAspect" ref="loggingAspect">
			<!-- <aop:pointcut id="allGetters" expression="execution(* get*())" />
			<aop:around pointcut-ref="allGetters" method="myAroundAdvice" /> -->
			
			<aop:around pointcut="execution(* get*())" method="myAroundAdvice" />
 		</aop:aspect>
	</aop:config>
</beans:beans>
		